body{
    font: Arial;
    text-align: center;
}

header{
    margin-bottom: 100px;
}

h1{
    background-color: #000;
    color: aliceblue;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.date{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif
}

#date{
    font-size: 32px;
    font-family: '''Times New Roman', Times, serif;
}

#hours{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

